<swal #loginComponent [showConfirmButton]="false">
  <login *swalPartial></login>
</swal>

<nav id="nav" class="navbar navigation" [ngClass]="{'transparent':isScrolledToTop, 'hideNav':hideNav}">
  <div class="container d-md-none">
    <ul id="mobile-navigation" class="horizontal-links float-left col-xs-12 col-sm-12" style="text-align:left;">
      <li><a (click)="toggleSideNav()"><i class="fa fa-bars"></i></a></li>
    </ul>
  </div>
  <div class="container d-none d-md-block">
    <ul id="desktop-navigation" class="horizontal-links col-md-9 float-left" style="text-align:left">
      <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
      <li><a routerLink="/stardragons"><i class="fa fa-paw"></i> Traits</a></li>
      <li><a routerLink="/stardragons/list" *ngIf="api.isLoggedIn()"><i class="fa fa-star"></i> Master List</a></li>
      <li><a routerLink="/comic"><i class="fas fa-book-open"></i> Comic</a></li>
    </ul>
    <ul class="horizontal-links col-md-3 float-right" style="text-align:right">
      <ng-container *ngIf="api.isLoggedIn()">
        <li><a routerLink="/dashboard"><i class="fa fa-user-circle"></i> Dashboard</a></li>
        <li><a (click)="api.logout()" href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
      </ng-container>
      <ng-container *ngIf="!api.isLoggedIn()">
        <li id="show-login"><a (click)="showLoginForm()"><i class="fas fa-sign-in-alt"></i> Login</a></li>
        <li id="hide-login" style="display:none;"><a (click)="hideLoginForm()">&#10006;</a></li>
      </ng-container>
    </ul>
  </div>
</nav>

<div
  id="side-nav"
  [@slideInOut]="sideNavState"
  (clickOutside)="closeSideNav()"
  [exclude]="'button,.btn-primary,a'"
  [clickOutsideEvents]="'click,touchstart'"
  clickOutsideEnabled="this.sideNavState === 'show'"
  >
  <div id="nav-profile" *ngIf="auth.loggedIn">
    <a routerLink="/dashboard">
      <img src="assets/img/default_avatar.png" alt="">
      <!-- <h3>{{user.name}}</h3> -->
    </a>
  </div>
  <div id="sidebar-links">
    <ul>
      <li><a (click)="changeRoute('/home')"><i class="fa fa-home"></i> Home</a></li>
      <li><a (click)="changeRoute('/stardragons')"><i class="fa fa-paw"></i> Traits Compendium</a></li>
      <li *ngIf="auth.loggedIn"><a (click)="changeRoute('/stardragons/list')"><i class="fa fa-star"></i> Master List</a></li>
      <li><a (click)="changeRoute('/comic')"><i class="fas fa-book-open"></i> Comic</a></li>
    </ul>
    <hr>
    <ul id="sidebar-socials">
      <li *ngFor="let link of socialLinks">
        <a [href]="link.link" target="_blank">
          <i [class]="link.class"></i> {{link.name}}
        </a>
      </li>
    </ul>
    <hr>
    <div id="sidebar-login" class="row">
      <ul *ngIf="auth.loggedIn">
        <li><a (click)="changeRoute('/dashboard')"><i class="fa fa-user-circle"></i> Dashboard</a></li>
        <li><a (click)="api.logout()" href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
      </ul>
      <ul *ngIf="!auth.loggedIn">
        <li><a (click)="showLoginForm()"><i class="fas fa-sign-in-alt"></i> Login</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="side-nav-background" *ngIf="sideNavState == 'show'" [@fadeBackground]="sideNavState"></div>
