<div class="col">
  <a routerLink="/comic/page-1" title="First" [class.disabled]="page == 1" (click)="isLastPage=false"><i class="fas fa-fast-backward"></i></a>
</div>
<div class="col">
  <a routerLink="/comic/page-{{prevPage}}" title="Previous" [class.disabled]="page == 1" (click)="isLastPage=false"><i class="fas fa-backward"></i></a>
</div>


<!-- display on desktop only -->
<div class="col d-none d-md-block">
  <div class="input-group">
    <div class="input-group-prepend">
      <span id="page" class="input-group-text">Page</span>
    </div>
    <input type="text" class="form-control" aria-label="Page" aria-describedby="page" [value]="pageSelector" [(ngModel)]="pageSelector">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="goToPage(pageSelector)">Go</button>
    </div>
  </div>
</div>

<div class="col">
  <a routerLink="/comic/page-{{nextPage}}" title="Next" [class.disabled]="isLastPage"><i class="fas fa-forward"></i></a>
</div>
<div class="col">
  <a routerLink="/comic" title="Latest" [class.disabled]="isLastPage"><i class="fas fa-fast-forward"></i></a>
</div>

<!-- display on mobile only -->
<div class="col-12 d-md-none" style="margin:15px auto;">
  <div class="input-group">
    <div class="input-group-prepend">
      <span id="page" class="input-group-text">Page</span>
    </div>
    <input type="text" class="form-control" aria-label="Page" aria-describedby="page" [value]="pageSelector" [(ngModel)]="pageSelector">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="goToPage(pageSelector)">Go</button>
    </div>
  </div>
</div>
