<div class="container">
  <div id="comic-header">
    <img src="assets/img/comic/elliott-headshot.png" alt="">
    <div id="comic-header-title">
      <div id="comic-logo">
        <div id="tales-of">Tales of</div>
        <div id="joarca">Jo'Arca</div>
        <img src="assets/img/comic/gemex-icon.png" alt="">
      </div>
    </div>
    <img src="assets/img/comic/amir-headshot.png" alt="">
  </div>

  <div class="content">

    <comic-nav class="row" [page]="page" [isLastPage]="isLastPage" [lastPage]="lastPage"></comic-nav>

    <div id="comic-container" class="row">
      <div class="col">
        <a routerLink="/comic/page-{{+(page) + 1}}" [class.disabled]="page == lastPage">
          <div class="comic-placeholder-wrapper" [hidden]="!loadingPage">
            <div class="comic-placeholder">
              <div class="comic-panel"></div>
              <div class="comic-panel"></div>
              <div class="comic-panel"></div>
              <div class="comic-panel"></div>
              <div class="comic-panel"></div>
              <div class="comic-panel"></div>
            </div>
          </div>
          <img [src]="comicUrl" (load)="loadingPage = false" alt="Gem Exchange Comic Page {{page}}"  [hidden]="loadingPage">
        </a>
      </div>
    </div>

    <comic-nav class="row" [page]="page" [isLastPage]="isLastPage" [lastPage]="lastPage"></comic-nav>

  </div>
</div>

<footer></footer>
