<div class="container">
  <div class="content">

    <div class="row" style="width:100%; height:50px;"></div>

    <comic-nav class="row" [page]="page" [pageCount]="pageCount"></comic-nav>

    <div id="comic-container" class="row">
      <div class="col">
        <a routerLink="/comic/page-{{+(page) + 1}}" [class.disabled]="page == pageCount">
          <div class="comic-placeholder" [hidden]="!loadingPage">
            <div class="comic-panel"></div>
            <div class="comic-panel"></div>
            <div class="comic-panel"></div>
            <div class="comic-panel"></div>
            <div class="comic-panel"></div>
            <div class="comic-panel"></div>
            <div class="comic-panel"></div>
          </div>
          <img [src]="comicUrl" (load)="loadingPage = false" alt="Gem Exchange Comic Page {{page}}"  [hidden]="loadingPage">
        </a>
      </div>
    </div>

    <comic-nav class="row" [page]="page" [pageCount]="pageCount"></comic-nav>

  </div>
</div>

<footer></footer>
