<div align="center"><h1>Please read the rules before joining!</h1>
<img src="http://orig09.deviantart.net/9343/f/2017/145/2/1/_layout_discord_banner_1_by_milay-dbafclu.png">
<br><br>
<a href="https://discord.gg/T9Xrjs5"><img src="http://orig05.deviantart.net/6989/f/2017/145/8/c/_layout_discord_logo_s4_by_milay-dbafeoc.png"></a><br>
<a href="https://discordapp.com/">[Download Discord]</a>
<br><br>
<table style="background-color:#666;width:600px;">
<tr>
<th><div align="center"><p style="color:#fff;"><b>What is Discord?</b></p>
<p style="color:#fff;width:500px;">
Discord is a free voice and text chat app, similar to Skype. It is designed specifically for gaming, but it's features like multiple servers make it very handy for large communities. Please read all of the rules before joining!
</p></div>
</th>
</tr>
</table>
<br>
<hr><br>

<p><b>Discord Formatting</b></p>

<table style="border:0px solid transparent;background-color:transparent;"><tr><th style="font-weight:normal;">
<p style="width:400px;" align="left">
<ul>
<li><i>italics</i> = *italics*</li>
<li><b>bold</b>  = **bold**</li>
<li><i><b>bold italics</b></i> = ***bold italics***</li>
<li><s>strikeout</s> = ~~strikeout~~</li>
<li><u>underline</u> = __underline__</li>
<li>deactivating *italics* or emotes = \:D \*no italics*</li>
<li>deactivating preview images on links = <img src="http://orig05.deviantart.net/b947/f/2017/145/3/e/screen__2017_05_26_3485_by_milay-dbafn9q.jpg"></li>
</ul>
</p>
</th></tr></table>
<p><a href="https://support.discordapp.com/hc/en-us/articles/210298617-Markdown-Text-101-Chat-Formatting-Bold-Italic-Underline-?page=4">For more formatting options, see here.</a></p>

<br><hr><br>

<table style="border:0px solid transparent;background-color:#fff;width:600px;">
<tr>
<th style="font-weight:normal;"><div align="center"><p><b>Name/Role Color Index</b></p>
</div><div align="center">
<p style="width:500px;">
<font color="#9b59b6"><b>Purple:</b></font> Admins<br>
<font color="#1f8b46"><b>Dark Green</b></font>: Has no Stardragon yet - <font color="#2ecc71"><b>Light Green:</b></font> Has Stardragon(s)<br>
<font color="#8a8a8a"><b>Neutral</b></font> (black/white): New member, just joined Discord<br>
<font color="#e5c40f"><b>Yellow:</b></font> SHAME CORNER (joke time-out corner)
</p></div>
</th>
</tr>
</table>


<br><hr><br>


<p><b>Discord Layout Explanation</b></p>

<table style="border:2px solid #fff;width:600px;">
<tr>
<th style="font-weight:normal;"><center><img src="http://orig05.deviantart.net/bedd/f/2017/145/a/d/screen__2017_05_26_3477_by_milay-dbafjms.jpg"></center></th><th style="font-weight:normal;">Turn off notifications for that room</th>
</tr><tr>
<th style="font-weight:normal;"><center><img src="http://orig03.deviantart.net/3c8f/f/2017/145/c/f/screen__2017_05_26_3478_by_milay-dbafjmo.jpg"></center></th><th style="font-weight:normal;">Lets you see what important information is pinned in that room</th>
</tr><tr>
<th style="font-weight:normal;"><center><img src="http://orig15.deviantart.net/f4f5/f/2017/145/0/c/screen__2017_05_26_3479_by_milay-dbafjmh.jpg"></center></th><th style="font-weight:normal;">Toggles the list of people who are in the room</th>
</tr><tr>
<th style="font-weight:normal;width:150px;"><center><img src="http://orig11.deviantart.net/f746/f/2017/145/1/4/screen__2017_05_26_3480_by_milay-dbafjmb.jpg"></center></th><th style="font-weight:normal;">Allows you to search for things said in all the rooms, depending on what you type in</th>
</tr><tr>
<th style="font-weight:normal;"><center><img src="http://orig15.deviantart.net/4200/f/2017/145/5/0/screen__2017_05_26_3481_by_milay-dbafjm6.jpg"></center></th><th style="font-weight:normal;">Allows you to easily see who notified you and see if it was @ everyone, or @ you specifically <br>(on mobile located in left sidebar menu)</th>
</tr><tr>
<th style="font-weight:normal;"><center><img src="http://orig06.deviantart.net/229a/f/2017/145/a/a/screen__2017_05_26_3482_by_milay-dbafjm3.jpg"></center></th><th style="font-weight:normal;">Ask Discord themselves if you still need help finding something!</th>
</tr><tr>
<th style="font-weight:normal;"><center><img src="http://orig05.deviantart.net/b947/f/2017/145/3/e/screen__2017_05_26_3485_by_milay-dbafn9q.jpg"></center></th><th style="font-weight:normal;">Put these brackets on either side of a link to keep the link from showing preview images. Please use these for potentially graphic and/or triggering images (e.g. spiders)</th>
</tr><tr>
<th style="font-weight:normal;"><center><img src="http://orig03.deviantart.net/0ae9/f/2017/145/e/d/screen__2017_05_26_3483_by_milay-dbafjly.jpg"></center></th><th style="font-weight:normal;">:emojis:, or the emoji face to the right of your text box = Lets you find all the emojis!</th>
</tr><tr>
<th style="font-weight:normal;"><center><img src="http://orig12.deviantart.net/ddfe/f/2017/145/7/1/screen__2017_05_26_3484_by_milay-dbafjlv.jpg"></center></th><th style="font-weight:normal;">Hover over your post and click the three dots (on mobile hold down on your post for a few moments) toedit or delete your message</th>
</tr>
</table>


<br><hr><br>

<table style="background-color:#666;width:600px;">
<tr>
<th><div align="center"><p style="color:#fff;"><b>RULES</b></p>
<p style="color:#fff;width:500px;text-align:left;">
New rules are added when we feel that they need to be, or a certain instance requires them to be put in place. If you receive a warning, it is not a personal attack, simply correct it and move on. However if you feel you are being warned unfairly, or that the rules were not clear enough, we're open to listen to debates. Feel free to message an admin privately.
<br><br>
<b>We’ll give warnings for rules broken, but repeated offenders will be removed from the group</b>
<br><br>
<b>1#</b> - No sexist, religious, or racist jokes please.
<br><br>
<b>2#</b> - While religion/politics are the two big no-nos when it comes to talk around the Thanksgiving table, we’ll accept it but if things get too heated, the admins reserve the rights to stop the discussion, or ask it to be moved to Private Messages. (But also try being mindful yourselves and we’ll avoid admins getting involved!)
<br><br>
<b>3#</b> - No real life animal abuse/gore. No real life human abuse/gore either. Artistic guro/gore should be kept exclusively to the NSFW room and behind brackets and warnings. The death and mutilation of REAL creatures is not, by any means, funny or something to make light of. Those are real creatures with real feelings, and real fears. Their horror is not our comedy.
<br><br>
<b>4#</b> - No pedophilia related talk or pictures. Be it real children or fictional children. Might want to avoid any dark humor in regards to children all together honestly. We have many parents in GemExchange, and it’s not exactly tasteful for parents to see such things.<br>
>That being said, something for RP discussion specifically is okay (IE: Your character was abused as a child, or the village your character lived in was pillaged and children died.)
<br><br>
<b>5#</b> - Keep micromodding to a minimum. We understand intervening during the rare times when no admins are online, but if there is an issue and the admins are not already handling it, please let one of them know.
It is their job to resolve issues, multiple people jumping in to 'help' will overwhelm and agitate a situation.<br>
>PLEASE keep in mind everyone is human and mistakes happen. People are FAR more willing to listen and learn when someone sits them down and speaks to them politely. When multiple people are talking to one person, they start to feel attacked and sometimes attack back.
<br><br>
<b>6#</b> - Overall, be nice. We’re fine with debates and playful bickering, but when things become legitimate arguments, you’re gunna have a bad time. Additionally, sometimes sarcasm and jokes are hard to ‘hear’ over the internet. Be patient if someone misinterprets what you’re trying to say.<br>
>The admins are not referees or therapists. Please try and keep disagreements civil and handle issues like adults. This is a big group, so play nice.<br>
<br><br>
<b>7#</b> - You’re free to post pictures of other species that are not StarDragons. You’re free to have full on discussions of non-StarDragon species too! The only areas this is not allowed is StarDragon only rooms (IE: RP rooms, RP discussion rooms, character discussion rooms, world building rooms)

</p></div>
</th>
</tr>
</table>

<br><hr><br>

<table style="background-color:#fff;width:600px;">
<tr>
<th><div align="center"><p><b>GemExchange Room Breakdown</b></p>
<p style="width:500px;text-align:left;">
<b>Sometimes conversations get off topic. The admins will not immediately get on you if the conversation deviates from the topic of the room, however if that conversation goes on for an long period of time, you might be asked to move it to the proper room!</b><br>
<i>If you want to see a room topic pop up, feel free to ask!</i>
<br><br>
<b>AdminAnnouncements</b> - Admins are able to post here, however we’ve disabled the ability for anyone else to speak. This is where admins make various important updates.
<br><br>
<b>AskTheAdmins</b> - <i>(Allows non-StarDragons)</i> Questions for the ADMINS. Be it a question ABOUT the Admins, or about the StarDragon world or... whatever else you have in mind. To prevent any confusion or misinformation, please refrain from answering any questions posted in here unless you are, obviously, an admin.
<br><br>
<b>
General</b> - <i>(Allows non-StarDragons)</i> Channel for miscellaneous discussions. Feel free to talk about whatever, just keep it SFW.
<br><br>
<b>ArtCorner</b> - <i>(Allows non-StarDragons)</i> Channel for you to post your art, or art you got commissioned! You’re free to have discussions about that art as well! This room is not just, ‘post art then get out!’
<br><br>
<b>MemeCorner</b> - <i>(Allows non-StarDragons)</i> Channel for y’all to post your weird meme jokes, ya crazy kids.
<br><br>
<b>AnxietyCorner</b> - <i>(Allows non-StarDragons)</i> Channel for your stress. Real life sucks, and sometimes you just need somewhere to get it out. Feel free to vent your concerns and frustrations here.
<br><br>
<b>
CuddleCorner</b> - <i>(Allows non-StarDragons)</i> To post all your cutesy pictures for people to look at and maybe find some peace from the day. We like to post cute animal pictures in here.
<br><br>
<b>AdvertisementCorner</b> - <i>(StarDragons PREFERRED)</i> Place for you to post your sales, trades, commissions, what ever. We’d PREFER it to be StarDragon related, but not mandatory. If we feel that someone is posting non-Stardragon related ads too frequently, we will ask them to take it easy.
<br><br>
<b>SinnerChurch</b> - <i>(Allows non-StarDragons)</i> FOR NSFW art and conversations. NSFW means porn, gore, violence, and things related. Keep in mind, we do NOT allow REAL LIFE gore or violence. Real life porn is okay, however you may not post nsfw pictures of yourself. You're more than welcome to talk about your personal experiences, but keep the sexting to private DMs ya filthy hooligans.
<br><br>
<b>
CharacterDiscussion</b> - <i>(StarDragons ONLY)</i> Talk about your characters! Tell us about your characters! Get to know everyone’s characters and build relationships.
<br><br>
<b>StarDragonTinder</b> - <i>(StarDragons ONLY)</i> For those who are more interested in looking for intimacy and dating opportunities for their StarDragons. ;)
<br><br>
<b>RPDiscussions</b> - <i>(StarDragons ONLY)</i> To discuss the RPs going on. Remember, out of character communication is key!
<br><br>
<b>Roleplay_(Name)</b> - <i>(StarDragon ONLY)</i> Roleplay rooms! The RP rooms have names that generally explain the topic of the room. Feel free to make an RP, or join in if one is already going!


</p></div>
</th>
</tr>
</table>

</div>
<br>
<center><img src="http://www.labellezzawithin.co.uk/images/horizontaldivider.png" width="600px"></center><br>
<center><a href="http://toyhou.se/~world/1420.gemexchange-jo-arca"><img src="http://orig07.deviantart.net/6655/f/2017/140/f/1/blue_by_cuttleskulls-db9ug5s.png" width="200px"></a></center>
