<div id="create-stardragon">

  <div class="row">
    <div class="col">
      <h1>Create Stardragon</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>Info</h3>
      <small>Can only be set by an admin.</small>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <select placeholder="Species" class="form-control">
        <option>Species</option>
      </select>
    </div>
    <div class="col">
      <select placeholder="Type" class="form-control">
        <option>Type</option>
      </select>
    </div>
    <div class="col">
      <select placeholder="Rarity" class="form-control">
        <option>Rarity</option>
      </select>
    </div>
    <div class="col">
      <select placeholder="Sex" class="form-control">
        <option>Sex</option>
      </select>
    </div>
    <div class="col">
      <input type="text" name="base" class="form-control" placeholder="Base" />
    </div>
    <div class="col">
      <input type="number" name="base price" class="form-control" placeholder="$ Base Price" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>Created</label>
      <input type="date" class="form-control" placeholder="Created" />
    </div>
    <div class="col">
      <label>Approved</label>
      <input type="date" class="form-control" placeholder="Approved" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <textarea class="form-control" placeholder="Admin Notes"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>Bio</h3>
      <small>Set as you'd like!</small>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="file" placeholder="Image" class="form-control"/>
    </div>
    <div class="col">
      <input type="text" placeholder="Name" class="form-control"/>
    </div>
    <div class="col">
      <input type="text" placeholder="Gender" class="form-control"/>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <textarea placeholder="Description" class="form-control"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Gallery</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      For uploading images!
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Traits</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      COMING SOON
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>Template</h3>
    </div>
    <div class="col-12">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Use Default Template
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off"> Use Custom HTML
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>Designer</h3>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Username"/>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Link"/>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Trade Info</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>$ Sale Price</label>
      <input type="number" name="" value="" placeholder="Base Price" class="form-control"/>
    </div>
    <div class="col">
      <label>Sale/Trade Status</label>
      <select class="form-control" name="Sale/Trade">
        <option>Not Available</option>
        <option>Available For Sale</option>
        <option>Available For Trade</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button type="button" name="button" class="btn btn-primary btn-block">Save</button>
    </div>
  </div>




</div>
