# sensitive info
aws.json
deploy-config.json
api/api/config/discord_credentials.json
api/api/config/encryption_key.key

# Compiled Output
dist

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
node_modules/
jspm_packages/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# test directories
api/todo-api/

# Output of 'npm pack'
*.tgz
