<div id="multilayer-background">
  <img data-type="parallax" data-depth=0.050>
  <img data-type="parallax" data-depth=0.100>
  <img data-type="parallax" data-depth=0.150>
  <img data-type="parallax" data-depth=0.200>
  <h1  class="page-title">Welcome to the Gem Exchange!</h1>
  <img data-type="parallax" data-depth=0.700>
  <img data-type="parallax" data-depth=0.900>
  <img data-type="parallax" data-depth=1.000>
</div>
<div id="multilayer-background-mobile" class="full-width">
  <h1 class="page-title">Welcome to the Gem Exchange!</h1>
  <img src="assets/img/home.png">
</div>


<div style="flex-grow:1">
  <div class="row" [hidden]="true">
    <div class="col-12">
      <p style="max-width:800px; line-height: 1.5; margin:auto;">Welcome to the official site for the closed species Stardragons. This site is currently a work in progress! To keep up to date with the latest news, check out the links below to follow us elsewhere on the web.</p>
    </div>
  </div>
  <div class="row" [hidden]="true">
    <div class="col-xs-6 col-sm-6 col-md-4" *ngFor="let link of links">
      <a [href]="link.link" target="_blank" class="homepage-link">
        <i [class]="link.class"></i>
        <span>&nbsp;{{link.name}}</span>
      </a>
    </div>
  </div>
  <div id="flex-links">
    <a *ngFor="let link of links" [href]="link.link" target="_blank" class="flex-link {{link.class}}">
      <div class="flex-link-title">{{link.name}} <i [class]="link.class"></i></div>
    </a>
  </div>
</div>

<footer></footer>
