<div class="container">
  <div class="full-width">
    <h1 class="page-title">Welcome to the Gem Exchange!</h1>
    <img src="assets/img/stardragons_header_by_deletethestars.png" style="margin-top:-25px; margin-bottom:-25px;">
  </div>
</div>
<div class="container content" style="flex-grow:1">
  <div class="row">
    <div class="col-12">
      <p style="max-width:800px; line-height: 1.5; margin:auto;">Welcome to the official site for the closed species Stardragons. This site is currently a work in progress! To keep up to date with the latest news, check out the links below to follow us elsewhere on the web.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-4" *ngFor="let link of links">
      <a [href]="link.link" target="_blank" class="homepage-link">
        <i [class]="link.class"></i>
        <span>&nbsp;{{link.name}}</span>
      </a>
    </div>
  </div>
</div>

<footer></footer>
