<div id="multilayer-background">
  <img
    id="layer-1" data-type="parallax" data-depth=0.050
    src="/assets/img/home/1-background.png" (load)="showLayer('1')">
  <img
    id="layer-2" data-type="parallax" data-depth=0.100
    src="/assets/img/home/2-base-stars.png" (load)="showLayer('2')">
  <img
    id="layer-3" data-type="parallax" data-depth=0.150
    src="/assets/img/home/3-extra-stars.png" (load)="showLayer('3')">
  <img
    id="layer-4" data-type="parallax" data-depth=0.200
    src="/assets/img/home/4-planets.png" (load)="showLayer('4')">

  <div id="homepage-title">
    <div class="container">
      <div id="social-links">
        <a *ngFor="let link of links" [href]="link.link" target="_blank" class="{{link.class.replace('fa-','')}}">
          <div><i [class]="link.class"></i><span>&nbsp;{{link.name}}</span></div>
        </a>
      </div>
      <div id="title-text">
        <h1>The Gem Exchange</h1>
      </div>
    </div>
  </div>

  <img
    id="layer-5" data-type="parallax" data-depth=0.800
    src="/assets/img/home/5-mountains.png" (load)="showLayer('5')">
  <img
    id="layer-6" data-type="parallax" data-depth=0.900
    src="/assets/img/home/6-trees.png" (load)="showLayer('6')">
  <img
    id="layer-7" data-type="parallax" data-depth=1.000
    src="/assets/img/home/7-characters.png" (load)="showLayer('7')">

</div>

<div id="multilayer-background-mobile">
  <div id="homepage-title">
    <div class="container">
      <div id="title-text">
        <h1>The Gem Exchange</h1>
      </div>
    </div>
  </div>
  <img src="assets/img/home/mobile-header.png">
</div>


<div id="home-content" style="flex-grow:1">
  <div class="container">

    <div class="row">
      <div class="col">
        <h1>Welcome to The Gem Exchange!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non libero justo. Maecenas sed dapibus tortor. Nam eget suscipit felis. Nullam bibendum sed magna in facilisis. Sed bibendum cursus libero, id lobortis est porta eget. Pellentesque nec ultrices leo, quis commodo lectus. Integer euismod congue cursus. Aliquam ut tortor euismod, egestas lorem eu, mollis lacus. Suspendisse lacinia orci quis magna ullamcorper lobortis. Mauris suscipit, orci tempor volutpat pretium, lectus turpis dictum ante, id dictum massa ligula eu ante.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h2>Tales of Jo'Arca</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non libero justo. Maecenas sed dapibus tortor. Nam eget suscipit felis. Nullam bibendum sed magna in facilisis. Sed bibendum cursus libero, id lobortis est porta eget. Pellentesque nec ultrices leo, quis commodo lectus. Integer euismod congue cursus. Aliquam ut tortor euismod, egestas lorem eu, mollis lacus. Suspendisse lacinia orci quis magna ullamcorper lobortis. Mauris suscipit, orci tempor volutpat pretium, lectus turpis dictum ante, id dictum massa ligula eu ante.</p>
      </div>
      <div class="col-md-4">
        <img src="assets/img/home/comic.png" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <img src="assets/img/home/traits.png" alt="">
      </div>
      <div class="col-md-9">
        <h2>Traits Compendium</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non libero justo. Maecenas sed dapibus tortor. Nam eget suscipit felis. Nullam bibendum sed magna in facilisis. Sed bibendum cursus libero, id lobortis est porta eget. Pellentesque nec ultrices leo, quis commodo lectus. Integer euismod congue cursus. Aliquam ut tortor euismod, egestas lorem eu, mollis lacus. Suspendisse lacinia orci quis magna ullamcorper lobortis. Mauris suscipit, orci tempor volutpat pretium, lectus turpis dictum ante, id dictum massa ligula eu ante.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <h2>Discord Community</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non libero justo. Maecenas sed dapibus tortor. Nam eget suscipit felis. Nullam bibendum sed magna in facilisis. Sed bibendum cursus libero, id lobortis est porta eget. Pellentesque nec ultrices leo, quis commodo lectus. Integer euismod congue cursus. Aliquam ut tortor euismod, egestas lorem eu, mollis lacus. Suspendisse lacinia orci quis magna ullamcorper lobortis. Mauris suscipit, orci tempor volutpat pretium, lectus turpis dictum ante, id dictum massa ligula eu ante.</p>
      </div>
      <div class="col-md-4">
        <img src="assets/img/home/discord.png">
      </div>
    </div>

  </div>
</div>

<footer></footer>
