<div id="nav-spacer"></div>

<div class="container" style="background:#fff">

  <div class="content" style="max-width:750px;">

    <div class="row">
      <div class="col-md-12">
        <h1>Gem Exchange Terms of Service</h1>
        <small>Revised 08/04/2018</small>
        <p>By purchasing, trading for, or otherwise obtaining a StarDragon, you agree to these terms of service. Failure to adhere to these rules can result in removal from the group, blacklisting from Raptorslut and DeleteTheStars, and a possible ban (temporary or permanent) from all future StarDragon, GemExchange, and MYO events.</p>
        <p>Rules and ToS subject to change. Announcements will be made, but please refer back to this page if you are unsure of what is and is not allowed. Thank you.</p>
        <p>Thank you in advance for your cooperation!</p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-12">
        <h2>Creative Group</h2>
      </div>
      <div class="col-md-6" style="text-align:center;">
        <h3>Creators:</h3>
        <div class="row">
          <div class="col-6">
            <a href="http://www.furaffinity.net/user/raptorslut" target="_blank">
              <img src="assets/img/tos/raptorslut.gif" alt="">
              <p>Raptorslut</p>
            </a>
          </div>
          <div class="col-6">
            <a href="http://www.furaffinity.net/user/deletethestars" target="_blank">
              <img src="assets/img/tos/deletethestars.gif" alt="">
              <p>DeleteTheStars</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="text-align:center;">
        <h3>Admins:</h3>
        <div class="row">
          <div class="col-6">
            <a href="http://www.furaffinity.net/user/cloneclone" target="_blank">
              <img src="assets/img/tos/cloneclone.gif" alt="">
              <p>Cloneclone</p>
            </a>
          </div>
          <div class="col-6">
            <a href="http://www.furaffinity.net/user/missmab" target="_blank">
              <img src="assets/img/tos/missmab.gif" alt="">
              <p>Missmab</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12">
        <h2>Obtaining Designs</h2>
        <p>&#10022; <b>Premade and custom Stardragons can be obtained through Raptorslut and DeleteTheStars.</b></p>
        <p>We do our best to post premade batches at least once a month. The typical price for on base is $80 for full size, and $60 for chibis. Customs are available through journals at the beginning of each month and other special events. All sales from Raptorslut and DeleteTheStars are final. To prevent fraud, we will not refund money to anyone we have already sent a full resolution file to.</p>

        <p><b>&#10022; Make-Your-Own (MYO) designs can be obtained via our <a href="http://www.furaffinity.net/user/myostardragons" target="_blank">MYO account</a>.</b></p>
        <p>The MYO-Account hosts a minimum of 1 event per year, selling slots to allow entrants to create their own Stardragon for a discounted price. Free to use bases are available, and commissioning an artist to create a design for you is permitted. Slots are sold only during events, but MYOs can be completed and submitted at any time.</p>

        <p><b>&#10022; Reselling of Stardragons IS permitted. <a (click)="scrollTo('selling-and-trading')">(&#8618; More Info)</a></b></p>

        <p>When reselling a design, you are allowed to charge the original price of the design + additional art EXCEPT gift art. Example: A design purchased for $100, with one $50 commission, a trade valued at $25, and two pieces of gift art, valued at $25 each, can only be sold for $175, not $225.</p>

        <p><b>&#10022; Trading of Stardragons IS permitted. <a (click)="scrollTo('selling-and-trading')">(&#8618; More Info)</a></b></p>
        <p>When trading designs, please be considerate not only to those you are trading with, but the original creators of the species as well. &ldquo;Trading up&rdquo; indefinitely in an effort to turn around and make a profit, or to use &lsquo;desirable&rsquo; designs as trade fodder is frowned upon by the community and admins. We are not responsible for the reputation you build for yourself by practicing shady business tactics and underhanded trades.</p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12">
        <h2>Design Alterations</h2>

        <p>Permitted:</p>
        <p><b>&#10022; A design may be altered after purchase, provided...</b></p>
        <p>A) It abides by the species rules and individual race trait sheets.</p>
        <p>B) The changes are not so drastic it is unrecognizable from the original design.</p>

        <p><b>&#10022; Acceptable alterations include: Hairstyle, Sex, Colours, Patterns, Clothing, Body Type, Age, Scars, Tattoos, Name, etc.</b></p>
        <p>Please be advised, while you do not need our permission to make minor edits, more extensive alterations will require admin approval. Remember that Stardragons are not &ldquo;starter designs&rdquo; that you may completely overhaul - that is what our MYO event is for. Making multiple changes at one time may result in the admins declining your edits and asking for additional tweaks to be made, in order to stay true to the original design.</p>

        <p>Furthermore, all alterations are to be based off the ORIGINAL design. If you receive a Stardragon in a sale or trade, and wish to edit an already altered design, your changes may be declined. Purchase/Trade at your own risk. <i>If you don&rsquo;t like a design as is, we advise against buying or trading for it.</i></p>

        <p><b>&#10022; Traits may be swapped provided they remain within their rarity tiers.</b></p>
        <p><span>Common</span> traits may be exchanged freely with other <span>Common</span> traits appropriate for the species race.</p>
        <p><span>Uncommon</span> traits may be exchanged freely with other <span>Uncommon</span> traits, or reverted to a Common trait appropriate for the species race. You cannot add additional Uncommons, only remove one for another.</p>
        <p><span>Rare</span> traits may be exchanged freely with other Rare traits, or reverted to an Uncommon or Common trait appropriate for the species race. You cannot add additional Rares, only remove one for another.</p>
        <p><span>Legendary</span> traits may NOT be exchanged freely with other Legendary traits, but may be reverted to a Rare, Uncommon, or Common trait appropriate for the species race.</p>


        <p>Prohibited:</p>
        <p><b>&#10022; Duplicates and recolours kept alongside the original are NOT permitted.</b></p>
        <p>We do not allow duplication (purchasing a single design, then creating and using copies) of Stardragons in order to have twins, siblings, doppelgangers, alter egos, etc, especially not to be shared with a friend or sold for profit. Likewise, duplicating a design and making edits the colours, patterns, sex, and other traits in order to have a winter coat, shadow form, and so on is also not allowed. If you would like a similar design to accompany your existing Stardragon, please purchase a MYO slot or contact the creators.</p>

        <p><b>&#10022; MYO means Make Your Own, not Make Something Else Your Own</b></p>
        <p>If you are purchasing a MYO, you are to make your own StarDragon. A MYO slot is not a tool to use to completely rehaul a pre-existing design. Especially the Uncommon and Rare MYO slots. You cannot use an Uncommon or Rare MYO to upgrade a pre-existing design.</p>

        <p><b>&#10022; Twins/Relatives/Siblings can be created if...</b></p>
        <ol>
          <li>There are two noticeable differences. This does not include gem-cut, hairstyle, and body-type.</li>
          <li>If you make a set of twins or make a design to be a sibling but later wish to sell &nbsp;one of the designs, you need to let the person know there is a similar design . &nbsp;If you wish to sell both, the same principle applies that the buying parties should be made aware.</li>
          <li>If you decide to make a twin or sibling with a friend (with each party owning one of the designs), should something happen and that friendship end or connection fade, we will not be getting involved. This is one of the reasons we request the differences in designs.</li>
        </ol>
        <p>We reserve the right to recant this rule in the event we find it being abused.</p>

        <p><b>&#10022; Extreme edits are NOT permitted.</b></p>
        <p>While we do allow alterations to be made, we ask that you keep these changes within reason. You may not use a premade design as a blank canvas to create your own ideal Stardragon (again, this is what the MYO event is for.) Similarly, a MYO design that has already been designed may not be used as a blank slate and completely redesigned on a whim, or upon new ownership (trade, reselling, gifting, etc).</p>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <img src="assets/img/tos/design-alterations-a.jpg">
      </div>
      <div class="col-4">
        <img src="assets/img/tos/design-alterations-b.jpg">
      </div>
      <div class="col-4">
        <img src="assets/img/tos/design-alterations-c.jpg">
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12">
        <h2>Permissions</h2>
        <p>Permitted:</p>
        <p><b>&#10022; Reposting original Stardragon artwork from Raptorslut or DeleteTheStars IS permitted.</b></p>
        <p>You are welcome to post the original image obtained from the full res file to your personal galleries if the web hosting site allows. You do not need to link back, but please do not claim as your own artwork/design. Keep in mind, once a design has left our hands, it is the responsibility of the purchaser to watermark and resize the image to deter theft. Full URL watermarks are encouraged, as it prevents unscrupulous individuals from claiming to be you on other websites.</p>

        <p>Prohibited:</p>
        <p><b>&#10022; Commercial use of Stardragons is NOT permitted.</b></p>
        <p>You may not make merchandise depicting a Stardragon with the intent to sell without written permission from Raptorslut or DeleteTheStars. This includes but is not limited to: Prints, Posters, Keychains, Jewelry, Calendars, Apparel, Mugs, etc.</p>

        <p><b>&#10022; Joint ownership is NOT permitted.</b></p>
        <p>We do not allow individual Stardragons to be co-owned by multiple people. We&rsquo;ve had issues in the past of friends deciding they are no longer friends, and each one fighting for the use of a design, or each taking it for themselves, thus creating two characters out of a single Stardragon.</p>

        <p><b>&#10022; Using alternate accounts and recruiting friends to bypass restrictions is not allowed.</b></p>
        <p>The use of multiple accounts to bypass batch restrictions, such as &ldquo;One per person,&rdquo; and &ldquo;First time buyers only,&rdquo; will result in a permanent ban. Purchasing on behalf of friends, with the intention of keeping the design for oneself, or asking friends to request a design in an attempt to circumvent batch restrictions will result in a ban for all parties involved.</p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12">
        <h2>Blacklisting</h2>
        <p><b>&#10022; The following is a list of users who are banned (either temporarily or permanently) from purchasing designs and participating in Stardragon events.</b></p>
        <ul>
          <li>Seiokou (FA)/Pandora (ToyHouse)</li>
          <li>Spike4evah (FA)/FelineAttraction (DA)</li>
        </ul>
        <p>Anyone found intentionally making under-the-table deals with banned individuals will also be permanently blacklisted.</p>
      </div>
    </div>

    <hr>

    <div id="selling-and-trading" class="row">
      <div class="col-12">
        <h2>Selling and Trading</h2>

        <p><b>&#10022; Do not resell designs for more than their purchase price + the cost of additional artwork.</b></p>
        <p>When reselling designs, you may not raise the price to include paypal fees (which are initially covered by the creators) or the cost of gift art. However, you may include the cost of commissions, personal art, and the estimated price of art trades. Attempting to turn a profit off designs and sell for more than their perceived value will result in blacklisting.</p>

        <p><b>&#10022; When selling and trading older designs, please discard recolours.</b></p>
        <p>Recolours and palette swaps were previously offered as a bonus perk for purchasing custom designs. Unfortunately, this has been abused time and time again, and as such, recolours are no longer provided or allowed. If you are attempting to resell or trade a design that originally came with recolours from the original creators (IE: Raptorslut/Cuttleskulls, and Deletethestars), we suggest allowing the recipient of the sale/trade to choose their preferred palette, and discard the rest. If you paid for the recolours (note, they were only $4 a piece at the time) you may include this in your resale price.</p>

        <p><b>&#10022; Sales and Trades must be agreed upon by all parties involved.</b></p>
        <p>Anyone found bullying, blackmailing, bribing, guilting or otherwise coercing an unwilling person to give up or trade for a design will be blacklisted immediately. Likewise, anyone found intentionally making deals with blacklisted persons will also be banned from further purchases and participation in events.</p>
        <p>In addition, if a design is not up for trade or sale, do not approach someone with a StarDragon you desire making an offer, or requesting to be notified if the StarDragon is ever put up for sale or trade.</p>

        <p><b>&#10022; MYO designs MUST be sold for the base price they were purchased for.</b></p>
        <p>While we allow multiple uncommon and rare traits to be added at the appropriate tiers, the additional traits do NOT add to the value of the design. A MYO slot purchased for $50, with every rare, uncommon, and common trait available is still only worth $50. Attempts to resell the design for a higher price due to perceived rarity will result in a ban from further purchases and participation in events.</p>

        <p><b>&#10022; Permission from the creative group is NOT required to sell and trade designs.</b></p>
        <p>Because many trades and resales happen on a daily basis, the creative group can no longer keep tabs on these transactions. You are free to trade and resell as you please. If you&rsquo;re concerned about a possible scam or stolen design, you&rsquo;re always encouraged to message one of us with your concerns.</p>

        <p><b>&#10022; Designs obtained through trade can be sold.</b></p>
        <p>Though this is an ambiguous sort of grey area, we will no longer restrict sales of Stardragons obtained via trades. It is up to the individual to ensure a fair sale when selling a design previously traded to them, and it is the responsibility of the buyer to do their homework to prevent being taken advantage of. Your actions will impact your reputation; we are not responsible for your standing within the community if you engage in shady business practices. Anyone found repeatedly and/or purposefully abusing the system or other members of the community will be blacklisted.</p>
      </div>
    </div>

  </div>
</div>

<footer></footer>
