<div class="container">
  <div class="full-width">
    <a [routerLink]="['/stardragons/traits/all']">
      <h1 style="width:100%; text-align:center;">Traits Compendium</h1>
      <img src="assets/img/stardragons_header_by_deletethestars.png" style="margin-top:-25px; margin-bottom:-25px;">
    </a>
  </div>
</div>
<div class="container">
  <div class="content">

    <div class="row">
      <div
      *ngFor="let s of speciesHeaders; let i = index;"
      class="col-md-6 col-sm-12 col-xs-12"
      >
      <a [routerLink]="['/stardragons/traits',s.species]" class="species-index-link">
        <div class="placeholder" [hidden]="!s.loading">
          <div class="placeholder-content">
            <p>{{s.species | titlecase}}s</p>
          </div>
        </div>
        <img
        [src]="'http://static.thegemexchange.net/traits/' + s.species + '/' + s.img"
        alt="{{s.species | titlecase}}s"
        title="{{s.species | titlecase}}s"
        class="species-header"
        [hidden]="s.loading"
        (load)="s.loading = false;"
        onError="s.loading = true;"
        />
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col" style="overflow-x:auto;">
      <stardragon-stats></stardragon-stats>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Heights</h2>
    </div>
    <div class="col-12" style="overflow-x:auto;">
      <img src="assets/img/StarDragon_Heights.png" style="min-width:500px; max-width:none;margin:0 5px;">
    </div>
  </div>
</div>
</div>

<footer></footer>
