<style>
  p{
    font-family: "Frenchpress";
    font-size: 22px;
    font-weight: bold;
  }
  a{ text-decoration: none }

  .trait-img{
    margin-bottom: 5px;
  }
  .trait-sex .fa-mars{
    color: #307ECE;
    text-shadow: 0 0 3px #307ECE;
  }
  .trait-sex .fa-venus{
    color: #EE3851;
    text-shadow: 0 0 3px #EE3851;
  }
  .trait-sex .fa-intersex{
    color: #A020F0;
    text-shadow: 0 0 3px #A020F0;
  }
</style>

<div class="row">
  <div class="col-md-12">
    <h1>
      <a routerLink="/stardragons/traits">Traits Compendium</a>
      <span *ngIf="species"><a [routerLink]="['/stardragons/traits',species]">: {{species}}s</a></span>
    </h1>
    <h2 *ngIf="getSubspeciesTypes().length > 0">Current Subtypes
      <span *ngFor="let subtype of getSubspeciesTypes()">
        | <a (click)="subtype_filter = subtype">{{subtype}}</a>
      </span>
    </h2>
  </div>
</div>

<ng-container *ngIf="!display_index && !!species">
  <div class="row">
    <div class="col-md-12">
      <img src="{{img_directory + (headers[subtype_filter] || headers['standard'])}}" class="species-header"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h3>Search</h3>
      <div class="row">
        <input type="text" [(ngModel)]="search_filter" value="search_filter" class="form-control" [typeahead]="typeahead" [typeaheadMinLength]="0" (change)="filterVisibleTraits()"/>
      </div>
    </div>
    <div class="col-md-2">
      <h3>Rarity</h3>
      <div class="row">
        <select class="form-control" [(ngModel)]="rarity_filter" (change)="filterVisibleTraits()">
          <option value="all">All</option>
          <option value="common">Common</option>
          <option value="uncommon">Uncommon</option>
          <option value="rare">Rare</option>
          <option value="legendary">Legendary</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <h3>Type</h3>
      <div class="row">
        <select class="form-control" [(ngModel)]="type_filter" (change)="filterVisibleTraits()" style="text-transform:capitalize">
          <option value="all">All</option>
          <option [value]="type" *ngFor="let type of getTraitTypes()">{{type.replace("_"," ")}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <h3>Subtype</h3>
      <div class="row">
        <select class="form-control" [(ngModel)]="subtype_filter" (change)="filterVisibleTraits()" style="text-transform:capitalize">
          <option value="all">All</option>
          <option [value]="subtype" *ngFor="let subtype of getSubspeciesTypes()">{{subtype}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <h3>Sex</h3>
      <div class="row">
        <select class="form-control" [(ngModel)]="sex_filter" (change)="filterVisibleTraits()">
          <option [value]="sex" *ngFor="let sex of sexes">{{sex | titlecase}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-1">
      <h3>Clear</h3>
      <div class="row">
        <button (click)="clearAllFilters()" class="btn btn-secondary"><i class="fa fa-times-circle"></i></button>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let trait_type of getTraitTypes()">
    <!-- If there are are available traits for this type -->
    <ng-container *ngIf="filterTraitsByType(trait_type).length > 0">
      <div class="row">
        <div class="col-md-12">
          <h3>{{getTraitDescription(trait_type,"title")}}</h3>
          <p>{{getTraitDescription(trait_type, "description")}}</p>
        </div>
      </div>
      <div class="row">
        <ng-container *ngFor="let trait of filterTraitsByType(trait_type)">
          <div class="col-6 col-md-3" style="text-align:center;">
            <img class="trait-img" src="{{img_directory}}{{trait.image}}"/>
            <p>
              <strong>
                <span class="trait-rarity">
                  <i class="fa fa-circle {{trait.rarity}}" title="{{trait.rarity | titlecase}}"></i>
                  &nbsp;
                </span>
                <span class="trait-name">{{trait.name}}</span>
                <span class="trait-sex">
                  &nbsp;
                  <i class="fa fa-venus"    *ngIf="trait.sex=='feminine'"></i>
                  <i class="fa fa-mars"     *ngIf="trait.sex=='masculine'"></i>
                  <i class="fa fa-intersex" *ngIf="trait.sex=='unisex' || !trait.sex"></i>
                </span>
              </strong>
              <br/>
              <span *ngIf="trait.subtype != 'standard'" style="text-transform:capitalize">({{trait.subtype}} Subtype)</span>
            </p>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>

  <div class="row" *ngIf="visibleTraits.length == 0">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">No traits found!</div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="display_index">
  <div class="row">
    <div *ngFor="let s of traits_index" class="col-md-6 col-sm-12 col-xs-12">
      <a [routerLink]="[s.link]" style="text-transform:capitalize;">
        <img src="{{s.img}}" alt="{{s.name}}" title="{{s.name}}" class="species-header" />
      </a>
    </div>
  </div>

  <div class="row">
    <style media="screen">
      ::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
      }
    </style>
    <div class="col" style="overflow-x:scroll;">
      <stardragon-stats></stardragon-stats>
    </div>
  </div>
</ng-container>
