.navigation{
}

.dropdown:hover .dropdown-menu{
  display: block;
}

.dropdown-menu {
  margin: 0;
  border-top: 0;
  border-top-left-radius:  0;
  border-top-right-radius: 0;

  background: rgba(255, 255, 255, 0.9)
}

dashboard{
  display:  block;
  overflow: hidden;
  text-align: center;
}

.page-title{
  color: #50298a;
}

#header-img{
  display: block;
  margin:  auto;
}
