<div class="container">
    <div class="character-avatar">  
        <img src="assets/img/leaders/Leader_01.png" alt="" style="max-height: 300px;">
    </div>
    
    <div class="content">
        
        <div class="stats-column">
            <!-- <div *ngFor="let stat of stats">
                {{stat.key}}
                {{stat.value}}
            </div> -->
        </div>
            
        <h3>About</h3>
        
        <p>With the death of his mother, and the deteriorating condition of his father, Alduen is thrusted into the life of leadership with more than a little anxiety on his plate. He always knew he was destined to become king, but the passing of the crown came a bit sooner than expected. Though if having eight sisters has taught him anything, in the dancing and tea party category, he absolutely excels.</p>
        
        <p>His people skills… eh… leaves a little to be desired. Despite this, he seems to have gathered a fanbase with the younger crowd which he is largely unaware of.</p>
        
        <h3>StarEater government style</h3>
        
        <p>StarEater’s government runs in the same way a monarchy does. And while the Farstrider family is the main royal family, there are still numerous, smaller branches that pepper Jo’Arca. They are not the Kings and Queens of the Farstriders, but they are nobles in their own right.</p>
        
        <p>The Farstriders themselves are a kind ruling. They do what they can to listen to the complaints of their people, and accommodate as they can, and as far as the bloodline has gone, little complaint has been made against them.</p>
        
        <h3>Religion</h3>
        
        <p>Eaters by large worship and honor Hylcinth. This is not to say they turn a blind eye to her husband and children, but they feel closer to Hylcinth, possibly because they were the first to be created, and were done so by her hands. They see the sun as her symbol, the largest, brightest star, warming their world with her grace and love- meanwhile the four moons symbolize her husband and three children. The biggest moon being Helgin’s. And while Helgin is honored in his own right, they do hold a healthy amount of fear for him. Eaters respect him, but most do well in living their lives avoiding committing something that could be considered bad karma. Best to be on his good side when in death, they face his judgement.</p>
        
        <p>Some say the nobles are handpicked by Hylcinth herself to lead her ‘favorite’ race, but others argue that’s but a myth to try and put the royals on a higher pedestal than they deserve. </p>
        
        Art drawn by missmab
        Profile written by Cloneclone
        Stardragons © deletethestars / raptorslut / cloneclone
    </div>    
</div>    