<header>
  <navigation></navigation>
</header>

<div id="body">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="content" style="text-align:center">

  <img src="http://www.labellezzawithin.co.uk/images/horizontaldivider.png" width="600px">
  <br><br>
  <ul class="horizontal-links">
    <li><a routerLink="/termsofservice">Terms of Service</a></li>
  </ul>
  <a href="http://toyhou.se/~world/1420.gemexchange-jo-arca">
    <img src="http://orig07.deviantart.net/6655/f/2017/140/f/1/blue_by_cuttleskulls-db9ug5s.png" width="100px" style="margin-bottom:150px;">
  </a>

</footer>
