<header>
  <navigation></navigation>
</header>

<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''" class="content container">
  <router-outlet #o="outlet"></router-outlet>
</main>

<footer class="content container" style="text-align:center">
  <img src="http://www.labellezzawithin.co.uk/images/horizontaldivider.png" width="600px">
  <ul class="horizontal-links">
    <li><a routerLink="/termsofservice">Terms of Service</a></li>
    <li><a href="http://toyhou.se/~world/1420.gemexchange-jo-arca" target="_blank">Toyhou.se Community</a></li>
  </ul>
</footer>
