<div class="row">
  <div class="col-4">
    <img src="./../../assets/img/default_avatar.png" />
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col">
        <h2>{{stardragon.name}}</h2>
        <small>{{stardragon.species}} | {{stardragon.gender || stardragon.sex}} | {{stardragon.rarity}}</small>
      </div>
      <div class="col">
        <a class="btn btn-primary pull-right" [routerLink]="['/stardragons',stardragon._id,'edit']">Edit</a>
      </div>
      <div class="col-12">
        <hr/>
        <p>{{stardragon.bio || 'No bio.'}}</p>
      </div>
    </div>
  </div>
</div>

<div class="row" id="debug">
  <div class="col-12">
    <hr/>
  </div>
  <div class="col">
    <pre>{{stardragon | json}}</pre>
  </div>
</div>
