<div class="row">
  <div class="col-md-12">
    <h1 class="page-title">Welcome to the Gem Exchange!</h1>
    <img src="./../assets/img/stardragons_header_by_deletethestars.png" id="header-img"/>
    <p>This is a community group for the closed species Stardragons.</p>
    <p>This website is a work in progress. Follow the links below to find us elsewhere on the web.</p>
    <ul class="horizontal-links">
      <li><a href="http://toyhou.se/~world/1420.gemexchange-jo-arca" target="_blank"><i class="fa fa-home"></i> Toyhouse</a></li>
      <li><a href="https://docs.google.com/spreadsheets/d/1_EqVHX6UD0vAtiZnu3fjqwn1pIlKCjLMNsREkhejIDM/edit#gid=0" target="_blank"><i class="fa fa-list"></i> Master List</a></li>
      <li><a href="https://www.furaffinity.net/user/gemexchange" target="_blank"><i class="fa fa-paw"></i> Fur Affinity</a></li>
      <li><a href="https://github.com/juan0tron/the-gem-exchange" target="_blank"><i class="fa fa-github"></i> Github</a></li>
      <!-- <li><a href="https://twitter.com/Gem_Exchange"><i class="fa fa-twitter"></i> Twitter</a></li> -->
      <li><a href="https://gemexchange.deviantart.com/" target="_blank"><i class="fa fa-deviantart"></i> DeviantArt</a></li>
    </ul>
  </div>
</div>
