<style media="screen">
  .btn{margin-right: 5px}
</style>

<div class="container">
  <div class="content">
    <div class="row">
      <div id="avatar" class="col-md-4">
        <img src="assets/img/default_avatar.png" width="100%" />
        <div id="social-icons" class="row">
          <div class="col" *ngFor="let icon of links">
            <a href="#">
              <i class="fab fa-{{icon}}"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <h3>Inventory</h3>
          <div id="inventory" class="dashboard-module col-12">
            <div class="row">
              <div class="col" *ngFor="let token of tokens" (click)="showTokenDetails(token)">
                <img [src]="token.img" [title]="token.name"/>
                <p>({{token.count}})</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="description" class="col-md-8">
        <div class="row">
          <div class="col-12">
            <h2 class="pull-left">Welcome back, {{user.name || "Username"}}</h2>
            <a [routerLink]="['/users/', user._id]" class="btn btn-secondary pull-right disabled">Edit Profile</a>
            <a [routerLink]="['/users/', user._id]" class="btn btn-secondary pull-right">View Profile</a>
            <hr style="clear:both; display:block;">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h2>Messages</h2>
            <div id="messages" class="dashboard-module" style="width:100%">
              <div style="width:100%; border-bottom:1px solid #fafafa; text-align:left; padding: 5px 15px;" *ngFor="let row of rows">
                Message text <i class="fa fa-close pull-right" style="color:red"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <stardragon-list [config]="{dashboard:true}"></stardragon-list>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>
