<header>
  <ul class="horizontal-links">
    <li><a href="http://toyhou.se/~world/1420.gemexchange-jo-arca"><i class="fa fa-home"></i> Toyhouse</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1_EqVHX6UD0vAtiZnu3fjqwn1pIlKCjLMNsREkhejIDM/edit#gid=0"><i class="fa fa-list"></i> Master List</a></li>
    <li><a href="https://www.furaffinity.net/user/gemexchange"><i class="fa fa-paw"></i> Fur Affinity</a></li>
    <li><a href="https://github.com/juan0tron/the-gem-exchange"><i class="fa fa-github"></i> Github</a></li>
    <li><a href="https://twitter.com/Gem_Exchange"><i class="fa fa-twitter"></i> Twitter</a></li>
  </ul>
</header>

<div id="body">
  <dashboard></dashboard>
  <stardragon-list></stardragon-list>
  <stardragon-details [id]="'59adcac58efd231d383cff10'"></stardragon-details>
</div>

<footer></footer>
