<header>
  <div class="navigation">
    <ul class="horizontal-links">
      <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
      <li><a routerLink="/discord"><i class="fa fa-commenting"></i> Discord Server</a></li>
      <ng-container *ngIf="api.isDev()">
        <!-- Dev links -->
        <li><a routerLink="/login"><i class="fa fa-envelope"></i> Login</a></li>
        <li><a routerLink="/user"><i class="fa fa-user"></i> User Profile</a></li>
      </ng-container>
    </ul>
  </div>
</header>

<div id="body">
  <router-outlet></router-outlet>
</div>

<footer style="text-align:center">
  <img src="http://www.labellezzawithin.co.uk/images/horizontaldivider.png" width="600px">
  <br><br>
  <a href="http://toyhou.se/~world/1420.gemexchange-jo-arca">
    <img src="http://orig07.deviantart.net/6655/f/2017/140/f/1/blue_by_cuttleskulls-db9ug5s.png" width="200px">
  </a>
</footer>
