<div class="content">

  <div class="row">
    <div class="col-md-12">

      <a class="btn btn-primary" href="https://docs.google.com/document/d/1W6EnYLN1UlXt8Vl1DZsooeGubtfBDFJ7WIm9KFdfOWE/edit" target="blank">TOS Google Doc</a>

      <hr/>

      <h4>Shortcuts</h4>

      <ul>
        <li><a href="termsofservice#terms-of-service">[Terms of Service]</a></li>
        <li><a href="termsofservice#creative-group">[Creative Group and Links]</a></li>
      </ul>

      <hr/>

      <div style="text-align:center">
        <h1 id="terms-of-service">Terms of Service</h1>
        <small>Revised 10/10/2017</small>
      </div>
      <p>By purchasing, trading for, or otherwise obtaining a Stardragon, you agree to the ToS. Failure to adhere to these rules can result in removal from the group, blacklisting from Raptorslut and DeleteTheStars, and a possible ban (temporary or permanent) from all future Stardragon, Gemexchange, and MYO events.</p>
      <p>Rules and ToS subject to change. Announcements will be made, but please refer back to this page if you are unsure of what is and is not allowed. Thank you.</p>
      <p>Thank you in advance for your cooperation!  OwO</p>

      <hr/>

      <div style="text-align:center">
        <h1 id="creative-group">Creative Group and Links</h1>
        <small></small>
      </div>
      <ul>
        <li><a>Creators: Raptorslut & DeleteTheStars</a></li>
        <li><a>Admins: Cloneclone & Missmab</a></li>
        <li><a>Furaffinity Group: GemExchange@FA</a></li>
        <li><a>DeviantArt Group: GemExchange@DA</a></li>
        <li><a>MYO Account: MYOStardragons@FA</a></li>
        <li><a>Website: TheGemExchange.net</a></li>
      </ul>

    </div>
  </div>
</div>
