<ng-container *ngIf="loading || stardragons.length <= 0">
  <loading></loading>
</ng-container>

<ng-container *ngIf="stardragons.length > 0">

  <div class="row">
    <!-- dis the stardragon thumb -->
    <div class="col-6 col-sm-3" *ngFor="let stardragon of stardragons">
      <div class="stardragon">
        <a [routerLink]="['/stardragons/',stardragon._id]" target="_blank">
          <div class="thumbnail">
            <!-- <img src="./../../assets/img/default_avatar.png" /> -->
              <img [src]="stardragon.image_url" />
          </div>
          <div class="details">
            <a class="name" [routerLink]="['/stardragons/',stardragon._id]">
              {{stardragon.name}}
            </a>
            <a class="owner" routerLink="/users/fakeUser" target="_blank">
              <i class="fa fa-user"></i>
              {{stardragon.designer || "Designer"}}
            </a>
          </div>
        </a>
      </div>
    </div>

  </div>

</ng-container>
