.dropdown:hover .dropdown-menu{
  display: block;
}

.dropdown-menu {
  margin: 0;
  border-top: 0;
  border-top-left-radius:  0;
  border-top-right-radius: 0;

  background: rgba(255, 255, 255, 0.9)
}

.page-title{
  color: #50298a;
}

#header-img{
  display: block;
  margin:  auto;
}

#social-icons{
  text-align: center;
}

.social-icon{
  text-align: center;
  padding: 5px;
  background: #aaa;
  border: 1px solid #000;
}

.dashboard-module{
  border-radius: 3px;
  border: 1px solid #aaa;

}

#inventory{
  text-align: center;

  img{
    width: 100%;
    height: auto;
    max-height: 70px;
  }
}

#messages{
  height: 215px;
  max-height: 215px;
  overflow-y: scroll;
}
