home{
  text-align: center;
  .full-width{
    min-height: 100vh;

    h1{
      position: absolute;
      top: 60%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
    }
    > img{
      position: fixed;
      bottom:0;
      left:0;
      right:0;
      margin: 0;
      max-width: none;
      min-height: 100%;
      transition: 0.3s ease all;
    }
    i{
      position: absolute;
      left: 0;
      right:0;
      bottom:1rem;
      color: #fff;
      font-size: 3rem;
    }
  }
}


// Link Brand Colors
@toyhouse: rgba(0,140,186,1);
@deviantart: #4e6252;
@github: #333;
@furaffinity: #2e3b41;
@patreon: #f96854;
@twitter: #1DA1F2;

.homepage-link{
  font-size: 1.5rem;
  display: flex;
  background: #eee;
  box-shadow: 3px 3px 0px #CCC;
  margin: 10px;
  font-family: "Futura";
  text-transform: uppercase;
  color: #333;
  transition: all 0.2s ease;
  overflow: hidden;
  &:hover{
    color:#555;
    box-shadow: 3px 3px 1px #AAA;
  }
  i, span{
    flex-direction: column;
    padding: 10px;
    line-height: 1.5rem;
  }
  i{
    width: 4rem;
    background: #999;
    box-shadow: 1px 0px 0 #555;
    color: #fff;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
  }
  span{
    flex-grow: 3;
  }
  .fa-home{ background-color: @toyhouse }
  .fa-deviantart{ background-color: @deviantart }
  .fa-github{ background-color: @github }
  .fa-patreon{ background-color: @patreon }
  .fa-paw{ background-color: @furaffinity }
  .fa-twitter{ background-color: @twitter }
}

#flex-links{
  display: flex;
  flex-wrap: wrap;
  .flex-link{
    display: inline-block;
    flex: 50%;

    position: relative;
    overflow: hidden;
    background-size: cover;

    i{padding-left: 15px; }

    .flex-link-title{
      position: absolute;
      right:.5rem;
      bottom:.5rem;
      color: #000;
      font-family: "Futura";
      text-transform: uppercase;
      color:#fff;
      font-size: 2rem;
      z-index: 1;
      filter: drop-shadow(1px 1px #000);
    }

    &:before{
      content:     "";
      display:     block;
      padding-top: 50%;
    }
    &:after{
      content: "";
      position: absolute;
      top:    0;
      left:   0;
      right:  0;
      bottom: 0;
      opacity: .75;
    }
    &.fa-home{
      &:after{ background: linear-gradient(transparent, @toyhouse 40%); }
      background-image: url('./../img/link_banners/toyhouse.png');
      background-color: @toyhouse;
    }
    &.fa-deviantart{
      &:before{padding-top: 25%;}
      &:after{ background: linear-gradient(transparent, @deviantart 40%); }
      background-image: url('./../img/link_banners/deviantart.png');
      background-color: @deviantart;
    }
    &.fa-github{
      &:after{ background: linear-gradient(transparent, @github 40%); }
      background-image: url('./../img/link_banners/github.png');
      background-color: @github;
    }
    &.fa-patreon{
      &:before{padding-top: 25%;}
      &:after{ background: linear-gradient(transparent, @patreon 40%); }
      background-image: url('./../img/link_banners/patreon.png');
      background-color: @patreon;
      flex:100%;
    }
    &.fa-paw{
      &:after{ background: linear-gradient(transparent, @furaffinity 40%); }
      background-image: url('./../img/link_banners/furaffinity.png');
      background-color: @furaffinity;
    }
    &.fa-twitter{
      &:after{ background: linear-gradient(transparent, @twitter 40%); }
      background-image: url('./../img/link_banners/twitter.png');
      background-color: @twitter;
    }
  }
}
