@import "dashboard.less";

// Fonts
@font-face {
  font-family: "Frenchpress";
  src: url('./../fonts/Frenchpress.otf');
}
@font-face {
  font-family: "Futura";
  src: url('./../fonts/FuturaLight.ttf');
}

@link-color:       #50298a;
@link-hover-color: #985F99;

body{
  background-image:  url('./../img/blue_space_background.png');
  background-repeat: repeat-y;
  background-size:   100%;
}

.content{
  max-width:  1000px;
  background: rgba(255,255,255,0.8);
  overflow:   hidden;
  margin:     0 auto;
  padding:    15px;
}

.row{
  margin: 15px auto;
}

img{
  max-width: 100%;
}

header{
  text-align: center;
  background: rgba(255,255,255,0.9);
  .navigation{
    a{color:#000}
  }
}

#body{
}

a{
  color: @link-color;
  &:hover{
    color: @link-hover-color;
  }
}

.horizontal-links{
  margin:  0 auto;
  padding: 0;
  li{
    display: inline-block;
    a{
      display: block;
      padding: 15px;

      text-align:      center;
      text-decoration: none;
    }
  }
  .dropdown-menu{
    min-width: 11rem;
    li a{
      text-align: left;
    }
  }
}
