@import "dashboard.less";

body{
  background-image:  url('./../img/blue_space_background.png');
  background-size:   cover;
  background-repeat: repeat-y;
}

header{
  text-align: center;
}

.horizontal-links{
  margin:  0 auto;
  padding: 0;
  li{
    display: inline-block;
    a{
      display: block;
      padding: 15px;
      text-align: center;
      text-decoration: none;
      &:hover{
        color: red;
      }
    }
  }
}
