@import "sweetalert.less";
@import "animations.less";
@import "dashboard.less";
@import "myo.less";
@import "ngx-bootstrap.less";
@import "text.less";
@import "traits.less";

// Fonts
@font-face {
  font-family: "Frenchpress";
  src: url('./../fonts/Frenchpress.otf');
}
@font-face {
  font-family: "Futura";
  src: url('./../fonts/FuturaLight.ttf');
}

@link-color:       #50298a;
@link-hover-color: #985F99;

// Rarity Colors
@none:      #CCCCCC; .none{color:@none}
@common:    #B0F171; .common{color:@common}
@uncommon:  #FFE476; .uncommon{color:@uncommon}
@rare:      #FF855B; .rare{color:@rare}
@legendary: #FF6FA2; .legendary{color:@legendary}

html, body{
  margin: 0;
  height: 100%;
}

body{
  background-image:  url('./../img/blue_space_background.png');
  background-repeat: repeat-y;
  background-size:   100%;
}

main{
  min-height: 100%;
  &::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  }
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.content{
  background: rgba(255,255,255,0.8);
  overflow:   auto;
  margin:     0 auto;
  padding:    0;
  position:   relative;
  transition: max-width .5s ease, max-height .5s ease;
  z-index:    1;
}

.row{
  margin: 15px auto;
}

.full-width{
  width:100%;
  box-shadow: inset 0px  10px 10px -10px #000,
              inset 0px -10px 10px -10px #000;

  position: relative;
  overflow: hidden;
  img{
    width:100%;
    z-index: -1;
    position: relative;
  }
  h1{
    color:    #FFF;
    position: absolute;
    bottom: 0;
    left:   15px;
    right:  15px;
    bottom: 1rem;
    filter: drop-shadow(1px 1px #000);
  }
}

img{
  max-width: 100%;
}

a{
  color: @link-color;
  &:hover{
    color: @link-hover-color;
  }
}

header{
  text-align: center;
  background: rgba(255,255,255,0.9);
  font-family: "Futura";
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  .navigation{
    .row{margin:0;}
    a{color:#000}
    display: block;
  }
  .navbar{
    padding:0;
  }
  box-shadow: 0px 0px 10px #000;
}

.species-header{
  filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.4));
  width:100%;
  transition: filter 0.3s ease;
}

footer{
  img{
    margin: 0 auto;
    display: block;
  }
}

.horizontal-links{
  margin:  0 auto;
  padding: 0;
  li{
    display: inline-block;
    a{
      display: block;
      padding: 10px;

      text-align:      center;
      text-decoration: none;
    }
  }
  .dropdown-menu{
    min-width: 11rem;
    li a{
      text-align: left;
    }
  }
}
