// Traits Compendium Styles

// Colors - RARITIES
@none:      #D2E5D6;
@common:    #B0F171;
@uncommon:  #FFE476;
@rare:      #FF855B;
@legendary: #FF6FA2;

traits{
  p{
    font-family: "Frenchpress";
    font-size: 22px;
    font-weight: bold;
  }
  a{ text-decoration: none }
}

#trait-filters{
  overflow: hidden;
}

.trait-placeholder{
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;

  &:before{
    content: "";
    display: block;
    padding-top: 100%;
  }

  .placeholder-content{
    font-family: "Frenchpress";
    color: #000;
    font-size: 2rem;

    position:  absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
  }
}

.species-index-link{
  display: block;
  position: relative;
  margin-bottom: 30px;

  .placeholder{
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #fafafa;
    border-radius: 15px;
    &:before{
      content: "";
      display: block;
      padding-top: 40%;
    }
    .placeholder-content{
      font-family: "Futura", sans-serif;
      text-transform: uppercase;
      color: #000;
      font-size: 2rem;

      position: absolute;
      top: 0;
      right:0;
      bottom:0;
      left:0;

      p{
        position:  absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        text-align: center;
      }

      &:before{
        content:"";

        animation: content-placeholder-animation 1s linear infinite;
        background: linear-gradient(to right, rgba(15,15,15,0) 0%,rgba(219,219,219,0.4) 50%,rgba(255,255,255,0) 100%);
        will-change: transform;
        display: block;
        height: inherit;

        position: absolute;
        left: 0;
        top:  0;
        bottom: 0;
        right: 0;
        width:  70%;
        height: 100%;
      }
    }
  }

  img{
    width:100%;
    height: auto;
    transition: filter 0.3s ease;
  }

  &:hover img{
    filter:   drop-shadow(4px 5px 1px rgba(0, 0, 0, 0.6));
  }

  h1{
    position: absolute;
    width:   100%;
    text-align: center;
    bottom:  1rem;
    color:   #fff;
    filter: drop-shadow(1px 1px 0px #000);
    transition: filter 0.3s ease-in-all;
  }
  &:hover h1{
    filter: drop-shadow(1px 1px 1px #000);
  }
}

.species-header-block{
  background-size: cover;
  min-height: 550px;
  padding: 0;
  width: 100%;

  img{
    position: absolute;
    right: 0px;
    bottom: 146px;
    z-index: 100;
    filter: drop-shadow(4px 5px 1px rgba(0, 0, 0, 0.4));
  }
}

.species-header-name{
  color:#fff;
  position: absolute;
  font-size: 6rem;
  font-weight: bold;
  bottom:250px;
  left: 100px;
}

.species-header-subtype{
  font-weight: bold;
  font-size: 2rem;
}

.icon-selector{
  width: 100%;
  text-align: center;
  a{
    padding-right: 1rem;
    padding-bottom: 15px;
    display: inline-block;
    &:hover, &.highlighted{
      text-shadow: 0 0 1px #000;
    }
  }
  i{ font-size: 2rem; }
}

.trait-img{
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 50%;
  img{
    max-height: 255px;
    animation: fadeIn 2s;
  }
}
.trait-img, .trait-meta{
  transition: all .5s ease;
}

.trait{
  &:hover{
    .trait-img{
      &.none{background:@none;}
      &.common{background:@common;}
      &.uncommon{background:@uncommon;}
      &.rare{background:@rare;}
      &.legendary{background:@legendary;}
    }
    .trait-meta{
      text-shadow: 1px 1px #aaa;
    }
  }
}

.trait-meta{
  text-transform: capitalize;
}

// Rarity Colors
.none{
  color:@none;
  &.trait-img{ border: 5px solid @none; }
}

.common{
  color:@common;
  &.trait-img{ border: 5px solid @common; }
}

.uncommon{
  color:@uncommon;
  &.trait-img{ border: 5px solid @uncommon; }
}

.rare{
  color:@rare;
  &.trait-img{ border: 5px solid @rare; }
}

.legendary{
  color:@legendary;
  &.trait-img{ border: 5px solid @legendary; }
}

.trait-sex{
  .fa{
    &:hover, &.highlighted{
      text-shadow: 0 0 3px #000;
    }
  }
  .fa-mars{
    color: #307ECE;
    &:hover,&.highlighted{
      text-shadow: 0 0 3px #307ECE;
    }
  }
  .fa-venus{
    color: #EE3851;
    &:hover,&.highlighted{
      text-shadow: 0 0 3px #EE3851;
    }
  }
  .fa-transgender{
    color: #A020F0;
    &:hover, &.highlighted{
      text-shadow: 0 0 3px #A020F0;
    }
  }
}
