<style>
  h1,h2,h3,h4{
    font-family: "Futura", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  }
  p{
    font-family: "Frenchpress";
    font-size: 22px;
    font-weight: bold;
  }
</style>

<div class="content">

  <div class="row">
    <div class="col-md-12">
      <h1>Traits Compendium: Starshooters</h1>
      <h2>Current Subtypes | Standard - Arctic <span style="color:#aaa" title="Coming soon!">- Desert - Sabertooth</span></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <img src="{{img_directory}}starshooters_header.png"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Filter By Rarity:</h3>
      <div class="row">
        <select class="form-control" [(ngModel)]="rarity_filter">
          <option value="all">All</option>
          <option value="common">Common</option>
          <option value="uncommon">Uncommon</option>
          <option value="rare">Rare</option>
          <option value="legendary">Legendary</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Filter By Trait Type:</h3>
      <div class="row">
        <select class="form-control" [(ngModel)]="type_filter" style="text-transform:capitalize">
          <option *ngFor="let type of getTraitTypes()" [value]="type">{{type.replace("_"," ")}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Filter By Species Subtype:</h3>
      <div class="row">
        <select class="form-control" [(ngModel)]="subtype_filter" style="text-transform:capitalize">
          <option value="all">All</option>
          <option value="standard">Standard</option>
          <option value="arctic">Arctic</option>
          <option value="desert">Desert</option>
          <option value="sabertooth" disabled title="Coming soon!">Sabertooth</option>
        </select>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let trait_type of getTraitTypes()">
    <ng-container *ngIf="getTraits(trait_type, rarity_filter, subtype_filter).length > 0 && (type_filter == trait_type || type_filter == 'all')">
      <div class="row">
        <div class="col-md-12">
          <h3>{{trait_type.replace("_"," ")}}</h3>
          <p>{{getTraitDescription(trait_type)}}</p>
        </div>
      </div>
      <div class="row">
        <ng-container *ngFor="let trait of getTraitsByType(trait_type)">
          <div *ngIf="(rarity_filter == trait.rarity || rarity_filter == 'all') && (subtype_filter == trait.subtype || subtype_filter == 'all')" class="col-6 col-md-3" style="text-align:center;">
            <img src="{{img_directory}}{{trait.image}}"/>
            <p>
              <strong>{{trait.name}}</strong><br/>
              <span *ngIf="trait.subtype != 'standard'" style="text-transform:capitalize">({{trait.subtype}} Subtype)</span>
            </p>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>

</div>
