<style media="screen">

  #stardragon-list{}

  #stardragon-list .stardragon{
  }

  .thumbnail{
    text-align: center;

    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 5px;

    transition: ease all .2s;
  }

  .thumbnail:hover{
    box-shadow: 0px 5px 15px #aaa;
  }

  .details{
    font-size: .875rem;
    margin-bottom: 15px;
    display: block;
    overflow: hidden;
    width: 100%;
  }
  .details .name{
    font-weight: bold;
    float:left;
  }
  .details .owner{
    float:right;
  }

  .stats{}
</style>

<div id="stardragon-list" class="content">

  <div *ngIf="stardragons.length > 0">

    <h3>List of Stardragons ({{stardragons.length}})</h3>

    <div class="row">

      <!-- dis the stardragon thumb -->
      <div class="stardragon col-6 col-sm-3" *ngFor="let stardragon of stardragons">
        <div class="thumbnail">
          <a routerLink="/stardragons/profile">
            <img src="https://media.discordapp.net/attachments/275468840215773207/419687120672653322/racoonchan.png?width=540&height=677"/>
          </a>
        </div>
        <div class="details">
          <a class="name" routerLink="/stardragons/profile">
            {{stardragon.name}}
          </a>
          <a class="owner" routerLink="/users/fakeUser">
            <i class="fa fa-user"></i>
            {{stardragon.owner || "Owner"}}
          </a>
        </div>
      </div>

    </div>

  </div>

</div>
